@import './../../Styles/variables.scss';
@import './../../Styles/mixins.scss';
.landing{
    width: 100vw;
    height: 100vh;
    display: flex;

    background-image: url('./../../landingbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;

    position: relative;
    z-index: 12;

    &--inner{
        width: 100%;
        align-self: flex-end;
        padding: 250px 20px 25px;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
        color: white;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (min-width: $screen-xl){
            padding: 150px 0 50px;
        }
    }
    &--title{
        text-align: center;
        @include titleFont(bold,5,#fff);
        position: relative;
        margin-bottom: 25px;

        @media only screen and (min-width: $screen-lg){
            @include font-size(7);
        }
        
        @media only screen and (min-width: $screen-xl){
            @include font-size(10);
        }
    }
    &--subtitle{
        @include subtitleFont(500,2,#000);
        background-color: white;
        padding: 4px 15px;
        border-radius: 20px;
        display: flex;
        align-self: center;
        margin-top: 10px;
        @media only screen and (min-width: $screen-lg){
            @include font-size(3);
        }
    }
}