@import './../../Styles/variables.scss';
@import './../../Styles/mixins.scss';
@keyframes is-rotating{
    to{
        transform: rotate(1turn)
    }
}
  
.maincontent{
    width: 100vw;
    //height: 2000px;
    background-color: $ab-light-grey;
    header{
        background-color: black;
        height: 70px;
        border-bottom: 4px solid $ab-pastel-green;
        position: sticky;
        top: 0;
        z-index: 11;
        line-height: 70px;
        display: flex;
        padding: 0 12px;
        h6{
            flex: 1;
            flex-direction: column;
            @include subtitleFont(400,2,#fff);
            display: flex;
            &:nth-of-type(even){
                align-items: flex-end;
            }

            @media only screen and (min-width: $screen-lg){
                @include font-size(2.5);
                &:nth-of-type(odd){
                    align-items: flex-end;
                    padding-right: 4px;
                }
                &:nth-of-type(even){
                    padding-left: 4px;
                    align-items: flex-start;
                }
            }
        }
    }

    &--inner{
        @include inner-container();
    }

    p{
        margin: 30px auto;
        text-align: center;
        padding-bottom: 30px;
        border-bottom: solid 1px #fff;

        @include defaultFont(normal,1.4,#000);
        line-height: 20px;

        @media only screen and (min-width:$screen-lg){
            max-width: 75%;
        }
    }
    .loading{
        margin: 30px auto;
        display: flex;
        justify-content: center;
        &--spinner{
            width: 50px;
            height: 50px;
            border: 6px solid $ab-pastel-navy;
            border-top-color: $ab-pastel-yellow;
            display: block;
            animation: is-rotating 1s infinite;
            border-radius: 50%;
        }
    }
    
}